<footer class="footer">
  <div class="container">
    <div class="link">
      <div class="nav-links">
        <ul>
          <li><a href="">首頁</a></li>
          <li><a href="">系列鏡框</a></li>
          <li><a href="">門市據點</a></li>
          <li><a href="">部落格</a></li>
          <li><a href="">常見問題</a></li>
        </ul>
      </div>
      <div class="social-links">
        <img src="./images/ic-social-fb.png" alt=""><a href="#"></a></img>
        <img src="./images/ic_social_ig.png" alt=""><a href="#"></a></img>
        <img src="./images/ic_social_line.png" alt=""><a href="#"></a></img>
      </div>
    </div>


  </div>

</footer>